    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container">
              <a class="navbar-brand js-scroll-trigger" href="https://www.thehackingproject.org/" target="blank"><%= image_tag "logo.png", class: "logo"%></a>
              
              <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="<%=chomeurs_path%>">Demandeurs d'emploi</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="<%=actifs_path%>">Actifs en reconversion</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="<%=root_path%>">Étudiants</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                  </li>
                  <% if user_signed_in? %>
                    <li class="nav-item">
                      <a class="nav-link js-scroll-trigger" href="<%= profile_path %>">Profil</a>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </nav>