
    <section class="p-0" id="portfolio">
            <div class="container-fluid p-0">
              <div class="row no-gutters popup-gallery">
                <div class="col-lg-4 col-sm-6">
                  <a class="portfolio-box" href="#">
                    <%= image_tag('group.jpg', class: "img-fluid") %>
                    <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                          Travail en communauté
                        </div>
                        <div class="project-name">
                          Crée des liens avec votre équipe et devenez une famille
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                  <a class="portfolio-box" href="#">
                  <%= image_tag('team.jpg', class: "img-fluid") %>
                    <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                          Camaraderie
                        </div>
                        <div class="project-name">
                          L'entre-aide sera votre seul allié pour progresser
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                  <a class="portfolio-box" href="#">
                  <%= image_tag('peer-programming.png', class: "img-fluid") %>
                    <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                          Peer-Programming
                        </div>
                        <div class="project-name">
                          Coder c'est cool, mais à deux c'est mieux
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                  <a class="portfolio-box" href="#">
                  <%= image_tag('slack.jpg', class: "img-fluid") %>
                    <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                          Slack
                        </div>
                        <div class="project-name">
                          Une plateforme qui rassemble la communauté THP
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                  <a class="portfolio-box" href="#" target="blank">
                  <%= image_tag('algoski.png', class: "img-fluid") %>
                    <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                          Ils l'ont fait!
                        </div>
                        <div class="project-name">
                          Exemple d'un projet final d'élèves de THP : Algo.ski
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                  <a class="portfolio-box" href="#">
                  <%= image_tag('network.jpg', class: "img-fluid") %>
                    <div class="portfolio-box-caption">
                      <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                          Réseau professionnel
                        </div>
                        <div class="project-name">
                          Un métier qui vous ouvre beaucoup portes
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </section>