
    <!-- Navigation -->
    <%= render "shared/navbar" %> 

    <header class="masthead2 text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Plonge dans </br>l'univers du code</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5"><strong>Apprends un métier qui a du sens<br>Découvre ton avenir</strong></p>
            
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="/users/sign_up">rejoins la team</a>
           
          </div>          
        </div>
      </div>
    </header>

      <!-- About -->
      <%= render "shared/about" %> 

      <!-- Program -->
      <%= render "shared/program" %> 

      <!-- Portfolio -->
      <%= render "shared/portfolio" %> 

      <!-- Footer -->
      <%= render "shared/footer" %> 
