
    <!-- Navigation -->
    <%= render "shared/navbar" %> 

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>T'aimes les applis que t'utilise ?</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5"><strong> Avec THP, créer la tienne en 3 mois ! <br> Capte ton avenir en équipe 💪</strong></p>
            
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="/users/sign_in">rejoins la team</a>
           
          </div>          
        </div>
      </div>
    </header>

      <!-- About -->
      <%= render "shared/about" %> 

      <!-- Program -->
      <%= render "shared/program" %> 

      <!-- Portfolio -->
      <%= render "shared/portfolio" %> 

      <!-- Footer -->
      <%= render "shared/footer" %> 
